html, body {
  padding: 20px;
  margin: 0;
  text-align: center;
}

#logo {
  position: relative;
  width: 100%;
  height: 100px;
  background: url('logo_white.png') center center no-repeat;
  background-size: auto 100%;
}

#asr_go {
  width: 150px;
  height: 150px;
  background: #fa8a86;
  color: #fff;
  border-radius: 75px;
  font-size: 75px;
  margin-bottom: 10px;
  outline: none;
  border: none;
}

#emergency_button {
  padding: 5px 10px;
  border-radius: 3px;
  background: #fa8a86;
  border: none;
  outline: none;
}

h2
{
  font-size: 46px;
  letter-spacing: 2px;
  margin: 200px 0 0 ;
}